.message{
    width:100%;
    padding: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    color: black;
}

.sucess{
    background-color: #ceff84;
    border-color: #83d900
    
}

.error{
    background-color: #ffb8b8;
    border-color: red
}