.div_contact{
    background-color: white;
    display: flex;
    padding: 10px;
    height: 290px;
    width: 60%;
    min-width: 335px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.div_contact h3{
    padding: 10px;
}

.info_div{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-block: 1px solid #ccc;
}

.info_div div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_div div svg{
    font-size: 2.3em;
    margin: 8px;
}

.info_div div p{
    font-size: 1em;
    color: rgb(160, 160, 160)
}

