.home_container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.home_container h1{
    font-size: 2.5em;
    margin-bottom: 0.5em
}

.home_container h1 span{
    color: rgb(255, 166, 0);
    padding: 0 0.2em;
    background-color: #222
}

.home_container p {
    margin-bottom: 1.5em;
    color: #7b7b7b
}

.home_container a {
    margin-bottom: 1.5em;
    color: white
}

.home_container a:hover {
    color: rgb(255, 166, 0);
}

